<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SoftwareTechnicalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminManageSales</servlet-name>
    <servlet-class>controller.AdminManageSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageSales</servlet-name>
    <url-pattern>/admin/manageSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowEditSales</servlet-name>
    <servlet-class>controller.AdminShowEditSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditSales</servlet-name>
    <url-pattern>/admin/show-editSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSales</servlet-name>
    <servlet-class>controller.AdminEditSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSales</servlet-name>
    <url-pattern>/admin/Sales/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowAddNewSales</servlet-name>
    <servlet-class>controller.AdminShowAddNewSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddNewSales</servlet-name>
    <url-pattern>/admin/show-addSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewSale</servlet-name>
    <servlet-class>controller.AdminAddNewSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewSale</servlet-name>
    <url-pattern>/admin/addSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSales</servlet-name>
    <servlet-class>controller.AdminDelSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSales</servlet-name>
    <url-pattern>/admin/delSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchSale</servlet-name>
    <servlet-class>controller.AdminSearchSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchSale</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NhanVienAddNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienAddNhatKyTuVan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanVienAddNhatKyTuVan</servlet-name>
    <url-pattern>/NhanVien/AddNhatKyTuVan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NhanVienShowNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienShowNhatKyTuVan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanVienShowNhatKyTuVan</servlet-name>
    <url-pattern>/NhanVien/NhatKyTuVan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTinTuc</servlet-name>
    <servlet-class>controller.ShowTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTinTuc</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiTietTinTucController</servlet-name>
    <servlet-class>controller.ChiTietTinTucController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietTinTucController</servlet-name>
    <url-pattern>/blog-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageArticle</servlet-name>
    <servlet-class>controller.AdminManageArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageArticle</servlet-name>
    <url-pattern>/admin/Article/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddTinTuc</servlet-name>
    <servlet-class>controller.AdminAddTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTinTuc</servlet-name>
    <url-pattern>/admin/addTinTuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowEditTinTuc</servlet-name>
    <servlet-class>controller.AdminShowEditTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditTinTuc</servlet-name>
    <url-pattern>/admin/Article/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditTinTuc</servlet-name>
    <servlet-class>controller.AdminEditTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminDelTinTuc</servlet-name>
    <servlet-class>controller.AdminDelTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTinTuc</servlet-name>
    <servlet-class>controller.SearchTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Controllercanho</servlet-name>
    <servlet-class>controller.Controllercanho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controllercanho</servlet-name>
    <url-pattern>/thanhvien/canhos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Controllerkhachhang</servlet-name>
    <servlet-class>controller.Controllerkhachhang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controllerkhachhang</servlet-name>
    <url-pattern>/thanhvien/khachhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowAccount</servlet-name>
    <servlet-class>controller.AdminShowAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAccount</servlet-name>
    <url-pattern>/admin/accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAccount</servlet-name>
    <servlet-class>controller.AdminAddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAccount</servlet-name>
    <url-pattern>/admin/addaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteAccount</servlet-name>
    <servlet-class>controller.AdminDeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAccount</servlet-name>
    <url-pattern>/admin/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAccount</servlet-name>
    <servlet-class>controller.AdminEditAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAccount</servlet-name>
    <url-pattern>/admin/updateaccount</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SaleEvaluateCustomer</servlet-name>
    <servlet-class>controller.SaleEvaluateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleEvaluateCustomer</servlet-name>
    <url-pattern>/thanhvien/Evaluatekhachhang</url-pattern>
  </servlet-mapping>
</web-app>