<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SoftwareTechnicalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminManageSales</servlet-name>
    <servlet-class>controller.AdminManageSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageSales</servlet-name>
    <url-pattern>/admin/manageSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowEditSales</servlet-name>
    <servlet-class>controller.AdminShowEditSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditSales</servlet-name>
    <url-pattern>/admin/show-editSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditSales</servlet-name>
    <servlet-class>controller.AdminEditSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditSales</servlet-name>
    <url-pattern>/admin/Sales/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowAddNewSales</servlet-name>
    <servlet-class>controller.AdminShowAddNewSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAddNewSales</servlet-name>
    <url-pattern>/admin/show-addSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewSale</servlet-name>
    <servlet-class>controller.AdminAddNewSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewSale</servlet-name>
    <url-pattern>/admin/addSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelSales</servlet-name>
    <servlet-class>controller.AdminDelSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelSales</servlet-name>
    <url-pattern>/admin/delSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchSale</servlet-name>
    <servlet-class>controller.AdminSearchSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchSale</servlet-name>
    <url-pattern>/admin/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchApartment</servlet-name>
    <servlet-class>controller.AdminSearchApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchApartment</servlet-name>
    <url-pattern>/admin/searchApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCustomer</servlet-name>
    <servlet-class>controller.AdminSearchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCustomer</servlet-name>
    <url-pattern>/admin/searchCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NhanVienAddNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienAddNhatKyTuVan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanVienAddNhatKyTuVan</servlet-name>
    <url-pattern>/NhanVien/AddNhatKyTuVan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NhanVienShowNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienShowNhatKyTuVan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NhanVienShowNhatKyTuVan</servlet-name>
    <url-pattern>/NhanVien/NhatKyTuVan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTinTuc</servlet-name>
    <servlet-class>controller.ShowTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTinTuc</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChiTietTinTucController</servlet-name>
    <servlet-class>controller.ChiTietTinTucController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietTinTucController</servlet-name>
    <url-pattern>/blog-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageArticle</servlet-name>
    <servlet-class>controller.AdminManageArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageArticle</servlet-name>
    <url-pattern>/admin/Article/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddTinTuc</servlet-name>
    <servlet-class>controller.AdminAddTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTinTuc</servlet-name>
    <url-pattern>/admin/addTinTuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowEditTinTuc</servlet-name>
    <servlet-class>controller.AdminShowEditTinTuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowEditTinTuc</servlet-name>
    <url-pattern>/admin/Article/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditTinTuc</servlet-name>
    <servlet-class>controller.AdminEditTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminDelTinTuc</servlet-name>
    <servlet-class>controller.AdminDelTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTinTuc</servlet-name>
    <servlet-class>controller.SearchTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Controllercanho</servlet-name>
    <servlet-class>controller.Controllercanho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controllercanho</servlet-name>
    <url-pattern>/thanhvien/canhos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowApartmentDetail</servlet-name>
    <servlet-class>controller.ShowApartmentDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApartmentDetail</servlet-name>
    <url-pattern>/chitietcanho</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBDS</servlet-name>
    <servlet-class>controller.SearchBDS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSearchTinTuc</servlet-name>
    <servlet-class>controller.AdminSearchTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NhanVienSearchNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienSearchNhatKyTuVan</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controllerkhachhang</servlet-name>
    <servlet-class>controller.Controllerkhachhang</servlet-class>
    <servlet-name>ShowApartmentDetail</servlet-name>
    <servlet-class>controller.ShowApartmentDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApartmentDetail</servlet-name>
    <url-pattern>/chitietcanho</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBDS</servlet-name>
    <servlet-class>controller.SearchBDS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSearchTinTuc</servlet-name>
    <servlet-class>controller.AdminSearchTinTuc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NhanVienSearchNhatKyTuVan</servlet-name>
    <servlet-class>controller.NhanVienSearchNhatKyTuVan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controllerkhachhang</servlet-name>
    <url-pattern>/thanhvien/khachhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminShowSetCalendarSales</servlet-name>
    <servlet-class>controller.AdminShowSetCalendarSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowSetCalendarSales</servlet-name>
    <url-pattern>/admin/showSetCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSetCalendarSales</servlet-name>
    <servlet-class>controller.AdminSetCalendarSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetCalendarSales</servlet-name>
    <url-pattern>/admin/schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxActiveScheduleByAdmin</servlet-name>
    <servlet-class>controller.AjaxActiveScheduleByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxActiveScheduleByAdmin</servlet-name>
    <url-pattern>/admin/activeSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelItemAgenda</servlet-name>
    <servlet-class>controller.AdminDelItemAgenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelItemAgenda</servlet-name>
    <url-pattern>/admin/deleteItemAgenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicRegisterNewCustomer</servlet-name>
    <servlet-class>controller.PublicRegisterNewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicRegisterNewCustomer</servlet-name>
    <url-pattern>/public/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicConfirmNewCustomer</servlet-name>
    <servlet-class>controller.PublicConfirmNewCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicConfirmNewCustomer</servlet-name>
    <url-pattern>/public/confirm-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageCustomers</servlet-name>
    <servlet-class>controller.AdminManageCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageCustomers</servlet-name>
    <url-pattern>/admin/manageCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActiveCustomer</servlet-name>
    <servlet-class>controller.AdminActiveCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActiveCustomer</servlet-name>
    <url-pattern>/customer/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicEditCustomer</servlet-name>
    <servlet-class>controller.PublicEditCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicEditCustomer</servlet-name>
    <url-pattern>/public/my-profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCustomer</servlet-name>
    <servlet-class>controller.AdminDelCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCustomer</servlet-name>
    <url-pattern>/admin/delCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageCategoryRealEstate</servlet-name>
    <servlet-class>controller.AdminManageCategoryRealEstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageCategoryRealEstate</servlet-name>
    <url-pattern>/admin/category-real-estate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewRealState</servlet-name>
    <servlet-class>controller.AdminAddNewRealState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewRealState</servlet-name>
    <url-pattern>/admin/addRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditRealState</servlet-name>
    <servlet-class>controller.AdminEditRealState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditRealState</servlet-name>
    <url-pattern>/admin/editRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelRealEstate</servlet-name>
    <servlet-class>controller.AdminDelRealEstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelRealEstate</servlet-name>
    <url-pattern>/admin/delRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageAreaRealEstate</servlet-name>
    <servlet-class>controller.AdminManageAreaRealEstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageAreaRealEstate</servlet-name>
    <url-pattern>/admin/area-real-estate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewAreaRealState</servlet-name>
    <servlet-class>controller.AdminAddNewAreaRealState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewAreaRealState</servlet-name>
    <url-pattern>/admin/addAreaRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAreaRealState</servlet-name>
    <servlet-class>controller.AdminEditAreaRealState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAreaRealState</servlet-name>
    <url-pattern>/admin/editAreaRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelAreaRealEstate</servlet-name>
    <servlet-class>controller.AdminDelAreaRealEstate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAreaRealEstate</servlet-name>
    <url-pattern>/admin/delAreaRealEstate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageApartment</servlet-name>
    <servlet-class>controller.AdminManageApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageApartment</servlet-name>
    <url-pattern>/admin/manageApartments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewApartment</servlet-name>
    <servlet-class>controller.AdminAddNewApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewApartment</servlet-name>
    <url-pattern>/admin/addApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminActiveApartment</servlet-name>
    <servlet-class>controller.AdminActiveApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminActiveApartment</servlet-name>
    <url-pattern>/apartment/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditApartment</servlet-name>
    <servlet-class>controller.AdminEditApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditApartment</servlet-name>
    <url-pattern>/admin/editApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelApartment</servlet-name>
    <servlet-class>controller.AdminDelApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelApartment</servlet-name>
    <url-pattern>/admin/delApartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicLoginCustomer</servlet-name>
    <servlet-class>controller.PublicLoginCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLoginCustomer</servlet-name>
    <url-pattern>/public/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicLogoutCustomer</servlet-name>
    <servlet-class>controller.PublicLogoutCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLogoutCustomer</servlet-name>
    <url-pattern>/public/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndex</servlet-name>
    <servlet-class>controller.PublicIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndex</servlet-name>
    <url-pattern>/public/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicResetPasswordCustomer</servlet-name>
    <servlet-class>controller.PublicResetPasswordCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicResetPasswordCustomer</servlet-name>
    <url-pattern>/public/reset-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicResetPasswordConfirmCustomer</servlet-name>
    <servlet-class>controller.PublicResetPasswordConfirmCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicResetPasswordConfirmCustomer</servlet-name>
    <url-pattern>/public/reset-password-confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManageFeatures</servlet-name>
    <servlet-class>controller.AdminManageFeatures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageFeatures</servlet-name>
    <url-pattern>/admin/feature-apartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditFeature</servlet-name>
    <servlet-class>controller.AdminEditFeature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditFeature</servlet-name>
    <url-pattern>/admin/editFeature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelFeature</servlet-name>
    <servlet-class>controller.AdminDelFeature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelFeature</servlet-name>
    <url-pattern>/admin/delFeature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewFeature</servlet-name>
    <servlet-class>controller.AdminAddNewFeature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewFeature</servlet-name>
    <url-pattern>/admin/addFeature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUploadImageApartment</servlet-name>
    <servlet-class>controller.AdminUploadImageApartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUploadImageApartment</servlet-name>
    <url-pattern>/admin/uploadImageApartment</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminShowAccount</servlet-name>
    <servlet-class>controller.AdminShowAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminShowAccount</servlet-name>
    <url-pattern>/admin/accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddAccount</servlet-name>
    <servlet-class>controller.AdminAddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAccount</servlet-name>
    <url-pattern>/admin/addaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteAccount</servlet-name>
    <servlet-class>controller.AdminDeleteAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAccount</servlet-name>
    <url-pattern>/admin/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditAccount</servlet-name>
    <servlet-class>controller.AdminEditAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditAccount</servlet-name>
    <url-pattern>/admin/updateaccount</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SaleEvaluateCustomer</servlet-name>
    <servlet-class>controller.SaleEvaluateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleEvaluateCustomer</servlet-name>
    <url-pattern>/thanhvien/Evaluatekhachhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAdminController</servlet-name>
    <servlet-class>controller.LogoutAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdminController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
</web-app>